.panel-container {
  display: inline-block;
  flex-grow: 1;
  max-width: 100%;
}

.static-panels {
  display: grid;
  grid-template-columns: 475px minmax(0, 1fr);
  max-width: 100%;
  height: 100vh;
}

.control-panel {
  display: flex;
  flex-direction: column;
  grid-column-start: 1;
  grid-column-end: 2;
  width: 100%;
  padding: 25px 20px 20px 20px;
  background-color: var(--hyper-dark-grey);
  box-shadow: 4px 0 4px 0 rgba(51, 56, 57, 0.08), 2px 0 2px 0 rgba(51, 56, 57, 0.12);
}

.drive-logo {
  width: 147px;
  margin-bottom: 30px;
}

.upload-zone {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 200px;
  margin-top: 10px;
  margin-bottom: 50px;
  border: 2px solid var(--hyper-blue);
  border-radius: 3px;
}

.upload-zone.dragged-over {
  box-shadow: 0 0 10px var(--hyper-blue);
}

.upload-zone label {
  color: var(--hyper-blue);
  margin-bottom: 20px;
}

.upload-zone label:hover {
  cursor: pointer;
}

.upload-icon {
  margin-bottom: 20px;
}

.manual-file-input {
  display: none;
}

.upload-progress.hidden {
  visibility: hidden;
}

.upload-progress {
  width: 76%;
  height: 16px;
  -webkit-appearance: none;
  -moz-appearance:none;
  background-color: var(--hyper-dark-grey);
  border: 2px solid var(--hyper-blue);
}

.upload-progress::-webkit-progress-bar {
  background-color: var(--hyper-dark-grey);
}

.upload-progress::-webkit-progress-value {
  background-color: var(--hyper-blue);
}

progress::-moz-progress-bar {
  background: var(--hyper-blue);
}

.file-container {
  --file-grid-columns: repeat(auto-fill, minmax(188px, 1fr));
  grid-column-start: 2;
  overflow: auto;
  padding: 2rem;
}

.file-panel {
  margin-bottom: 2rem;
}

.file-grid {
  display: grid;
  grid-template-columns: var(--file-grid-columns);
  grid-gap: 2rem;
  width: 100%;
}

.details-panel {
  padding: 2rem;
  display: inline-block;
  width: 300px;
  height: 100vh;
  background-color: var(--hyper-light-grey);
  border-left: 2px solid var(--hyper-dark-grey);
  font: var(--body);
}

.details-panel table {
  width: 100%;
}

.close-icon-container {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

h2.file-panel-heading {
  font: var(--heading-small);
  margin-bottom: 18px;
}