.file-card {
  display: flex;
  flex-direction: column;
  padding: 38px 20px 16px 20px;
  background-color: var(--hyper-dark-grey);
  border-radius: 3px;
  box-shadow: 0 2px 2px 0 rgba(51, 56, 57, 0.08), 0 2px 4px 0 rgba(51, 56, 57, 0.12);
}

.file-icon-container {
  display: flex;
  justify-content: center;
  margin-bottom: 27px;
}


p.file-card-filename {
  margin: 0;
  font: 400 12px/14px "Menlo";
  color: white;
}