.context-menu {
  width: 188px;
  position: absolute;
  background-color: var(--hyper-dark-grey);
  border: 2px solid var(--hyper-yellow);
  border-radius: 3px;
  box-shadow: 0 4px 4px 0 rgba(51, 56, 57, 0.12), 0 8px 8px 0 rgba(51, 56, 57, 0.08);
}

.context-menu:hover {
  cursor: pointer;
}

.context-menu ul {
  padding: 0;
  margin: 0;
}

.context-menu li {
  padding: 10px 15px;
  list-style: none;
  color: var(--hyper-yellow);
}

.context-menu li:hover {
  background-color: var(--hyper-yellow);
  color: var(--hyper-dark-grey);
}

.nav-bar {
  display: flex;
  align-items: center;
  height: 48px;
  margin-bottom: 2rem;
  color: var(--hyper-dark-grey);
  border-bottom: 2px solid var(--hyper-dark-grey);
  overflow: auto;
}


.nav-folder-link {
  border-radius: 3px;
}

.nav-folder-link-container {
  display: flex;
  align-items: center;
}

.nav-folder-link {
  display: flex;
  align-items: center;
}

.nav-folder-arrow {
  margin: 0 8px;
}

.nav-folder-button {
  max-height: 22px;
  font: var(--body);
  white-space: nowrap;
  background-color: transparent;
  border: none;
  border-radius: 3px;
}

.nav-folder-button:hover {
  cursor: pointer;
  background-color: var(--hyper-yellow);
}
