.binary-selector {
  margin-bottom: 40px;
}

.selector-header {
  display: flex;
  align-items: center;
  height: 40px;
  padding-left: 10px;
  border: solid 2px var(--hyper-yellow);
  border-radius: 3px 3px 0px 0px;
}

.selector-header-icon {
  display: inline-block;
  margin-right: 20px;
}

h2.selector-header-heading {
  display: inline-block;
  margin: 0;
  font: var(--single-line-big);
  color: var(--hyper-yellow);
}

.selector-button {
  height: 40px;
  width: 50%;
  border: solid 2px var(--hyper-yellow);
  border-top: 1px;
  font: var(--single-line-big);
  color: var(--hyper-yellow);
  background-color: transparent;
}

.selector-button.left {
  border-bottom-left-radius: 3px;
  border-right: 0;
}

.selector-button.right {
  border-bottom-right-radius: 3px;
}

.selector-button.selected {
  color: var(--hyper-dark-grey);
  background-color: var(--hyper-yellow);
}