body {
  --hyper-dark-grey: #333839;
  --hyper-yellow: #FFD45A;
  --hyper-blue: #7AFFE0;

  --single-line-big: 700 18px/18px "Menlo";

  background-color: var(--hyper-dark-grey);
}

.router-div {
  max-width: 100%;
  height: 100%;
}